body {
  font-family: Arial, Helvetica, sans-serif;
}

.login__form {
  border: 3px solid #f1f1f1;
  width: 50%;
  margin: 15% 25%;
  border-radius: 10px;
}

.login__title {
  text-align: center;
}

.login__form hr {
  width: 80%;
  opacity: 10%;
}

.login__label {
  margin-left: 10%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 10%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  width: 70%;

}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
/* @media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
} */